DEVICE_ID=rack01

MQTT_HOST=TU_HOST_HIVEMQ
MQTT_PORT=8883
MQTT_USERNAME=TU_USUARIO_HIVEMQ
MQTT_PASSWORD=TU_PASSWORD_HIVEMQ
MQTT_TLS=true
MQTT_TLS_INSECURE=false

INFLUXDB_URL=TU_URL_INFLUXDB
INFLUXDB_TOKEN=TU_TOKEN_INFLUXDB
INFLUXDB_ORG=TU_ORG_INFLUXDB
INFLUXDB_BUCKET=server_monitoring
INFLUXDB_QUERY_LOOKBACK=-24h

API_UNLOCK_USERNAME=DianaMena
API_UNLOCK_PASSWORD=RackSeguro2026!
API_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
