DEVICE_ID=rack01

MQTT_HOST=xxxxxxxxxxxxxxxx.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=usuario_api_o_bridge
MQTT_PASSWORD=password_api_o_bridge
MQTT_TLS=true
MQTT_TLS_INSECURE=false

INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_TOKEN=token_influxdb
INFLUXDB_ORG=organizacion_influxdb
INFLUXDB_BUCKET=server_monitoring
INFLUXDB_QUERY_LOOKBACK=-24h

API_UNLOCK_USERNAME=DianaMena
API_UNLOCK_PASSWORD=RackSeguro2026!
API_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
